body
{
 margin: 0px;
}
header
{
position: relative;
background-color: black;
padding: 20px;
height: 70px;
color: white;
display:flex;
 justify-content: space-between;
 align-items: center;
}
header>span
{
color: white;
}
.bar-links>a
{
 text-decoration: none;
 padding: 7px 20px;
 color: white;
 background-color: blue;
 border-radius: 8px;
}
.bar-links>a:hover
{
  color: black;
  box-shadow: 0 0 20px whitesmoke;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 950px)
{
 header
  {
   height: 200px;
   flex-direction: column;
  }
  header>.nav-links>a
  {
    position: relative;
    top: -20px;
  }
}
@media (min-width: 0px)and(max-width: 600px)
{
header
{
 height: 100px;
 flex-direction: column;
}
header>.nav-links>a
{
 position: relative;
 margin: 5px;
}
}
 .landing-page
 {
  background: black url("Homes.jpg")no-repeat 0px 0px fixed;
  background-size: cover;
  height: 100vh;
 }
  .landing-page>.wrapper
  {
   background-color: rgba(0, 0, 0, 0.3);
 height: inherit;
 color: whitesmoke;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size:20px ;
  }
  .landing-page>.wrapper>h1
  {

    margin: 0px;
    font-family: "comic sans ms",sans-serif;
    font-size: 45px;
 }
 .landing-page>.wrapper>button 
  {
   border-radius: 10px;
   background-color: blue;
   color: whitesmoke;
   border: none;
   outline: none;
   padding: 10px;
  }
   .landing-page>.wrapper>button:hover
   {
    cursor: pointer;
    color: black;
    box-shadow: 0 0 20px white;
    width: 170px;
   }
